@import "tailwindcss";

/* HARD RESET (old-school) */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #000;
  /* color: #333333; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2;
}

/* LINKS (classic IG blue) */
a {
  /* color: #003569; */
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* IMAGES */
img {
  display: block;
  border: 0;
}

/* BUTTONS (no polish) */
button {
  background: none;
  border: none;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  cursor: pointer;
}

/* REMOVE ALL MODERN MAGIC */
* {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

/* KILL ANIMATIONS */
* {
  transition: none !important;
  animation: none !important;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}